html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    background: #acacac;
}

.container {
    max-width: 1020px;
    margin: auto;
}

hr {
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.8em 0;
    font-family: "Bangers", Arial, sans-serif;
}

header {
    margin-top: 12px;
    padding: 12px;
    background: #000;
    color: #fefefe;
}

main {
    padding: 12px;
    background: #fefefe;
}

footer {
    padding: 12px;
    background: #000;
    color: #fefefe; 
}

ul {
    list-style: none;
}

li {
    padding: 6px;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}